data/.DS_Store
notebooks/__pycache__
notebooks/.ipynb_checkpoints
notebooks/2026/.ipynb_checkpoints
.mypy_cache
data/2026/known_asteroids_within_1deg_contingency_mode.txt
.DS_Store
notebooks/2026/review_fits_header_hlsp.ipynb
data/2026/_hlsp_tess-3i_tess_ffi_3iatlas-s1751-cam2-ccd3_tess_v*_lc.fits
data/2026/_hlsp_tess-3i_tess_ffi_3iatlas-s1751-cam2-ccd3_tess_v*_tp.fits
notebooks/2026/make_mTPF_from_ffi_difuse_comp.ipynb
data/2026/hlsp_tess-3i_tess_ffi_3iatlas-s1751-cam2-ccd3_tess_v1.2_tp.fits
data/2026/hlsp_tess-3i_tess_ffi_3iatlas-s1751-cam2-ccd3_tess_v2.0_tp.fits
notebooks/2026/make_mTPF_from_ffi_wPSF.ipynb
data/2026/figures/tess_3iatlas_spoc_s1751_rnaas.png
data/2026/figures/tess_3iatlas_spoc_s1751_tp_corr_4062.gif
data/2026/figures/tess_3iatlas_spoc_s1751_tp_pixq_4062.gif
data/2026/figures/tess_3iatlas_spoc_s1751_tp_raw_4062.gif
notebooks/2026/make_mTPF_from_ffi_testing_bkg.ipynb
notebooks/2026/open_hlsp_data-Copy1.ipynb
data/2026/tpfs/*.fits
data/2026/hlsp_tess-3i_tess*_3iatlas-s1751-cam2-ccd3_tess_v*_tp.fits
data/2026/_hlsp_tess-3i_tess*_3iatlas-s1751-cam2-ccd3_tess_v*_*.fits
notebooks/2026/make_mTPF_from_ffi_slcube.ipynb
data/2026/ffi_cubes_bin8_sector1751_2-3_light.fits
data/2026/hlsp_tess-3i_tess_tpf_3iatlas-s1751-cam2-ccd3_tess_v2.0_fast-tp.fits
